services:
  quote-bot:
    restart: 'unless-stopped'
    image: quote-bot
    env_file:
      - ".env"
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./bot-data:/bot-data
    network_mode: "host"
